[Unit]
Description=Paperless-ngx restic backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/homelab/paperless/backup.sh
User=root
